<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <description>foo</description>

    <!-- Hold build properties in a separate file for safer Maven filtering -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>build.properties</value>
            </list>
        </property>
        <property name="properties">
            <props>
                <prop key="SVN_REVISION">-1</prop>
                <prop key="BUILD_DATE">-1</prop>
            </props>
        </property>
    </bean>

    <bean id="persistenceManager" class="com.phreezdry.persistence.AWSSimpleDBPersistenceManager" init-method="init">
        <property name="userDomain" value="com.example.user"/>
        <property name="documentDomain" value="com.example.doc"/>
        <property name="key" value="yourkey"/>
        <property name="secret" value="yoursecret"/>
        <property name="compressThreshold" value="64"/>
    </bean>

    <bean id="config" class="com.phreezdry.server.Config" init-method="init">
        <property name="svnRevision" value="${svn.revision}"/>
        <property name="buildDate" value="${build.date}"/>
        <property name="redirectUrl" value="http://radioae6rt.wordpress.com/2010/05/22/introducing-phreezedry-a-microblogging-support-service/"/>
    </bean>

</beans>
